body{
    background-color:#e6f7ff;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    min-height: 100vh;
    grid-template-areas: 
    'title title'
    'lside rside';
    
}

.title{
    grid-area: title;
    text-align: center;
}

.title p{
    font-size: 20px;
    font-weight: 900;
}

.rside{
    grid-area: rside;
    display: flex;
    flex-wrap: wrap;
}

.lside{
    grid-area: lside;
}

.card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.author, .pages, .read {
    font-size: 16px;
    color: #666666;
    margin-bottom: 5px;
}

.read {
    font-weight: bold;
    color: #008000; /* Green color for "Yes" */
}
